/*

STYLESHEET FOR: 
CSS TO THE RESCUE,
FLEXBOX PRACTICE

AUTHOR: EMIEL ZUURBIER
GITHUB: https://github.com/EmielZuurbier/CTTR

*/


/* ----------------------------------------------- GENERAL */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-family: helvetica, arial, sans-serif;
    background-color: #f5f5f5;
}

/* ----------------------------------------------- TEXT */

h1, h2, h3, h4, h5 ,h6, p, a, b, strong, i, q, em, blockquote, address, legend, label, input {
    font-style: normal;
}

h1 {
    font-size: 1.5em;
    color: #61A6C7;
}

p, a, i {
    font-weight: 200;
}

p {
    color: #888888;
}

b, strong, em {
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* ----------------------------------------------- ELEMENTS */

img {
    display: block;
    max-width: 100%;
}

svg {
    height: 100%;
    width: auto;
    max-width: 3em;
    max-height: 3em;
}

form {
    flex: 1;
    border: 0;
    outline: 0;
}

form fieldset {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    border: 0;
}

form legend {
    border: 0;
    outline: 0;
    margin-bottom: 1em;
}

form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

form label input {
    width: 100%;
    padding: 0.5em 0;
    border: 0;
    border-bottom: 1px solid #888888;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    margin-bottom: 0.2em;
}

form label input:focus {
    outline: 0;
    border-color: #6DB9DE;
}

form label input:focus + span {
    color: #6DB9DE;
}

form label span {
    font-size: 75%;
    min-width: 100px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

form button {
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background-color: #6DB9DE;
    color: #ffffff;
    padding: 0.8em 1.5em;
    margin: 0.5em 0.5em 1em 0;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

form button::after, form button::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: black;
    z-index: -1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

form button::before {
    left: -50%;
}

form button::after {
    left: 100%;
}

form button:hover {
    background-color: transparent;
}

form button:hover::before {
    left: 0%;
}

form button:hover::after {
    left: 50%;
}

/* ----------------------------------------------- BLOCKS */

body > header {
    order: 1 1 250px;
    left: 0;
    top: 0;
    flex: 1 1 200px;
    order: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5em 0 0 0;
    background-color: #6DB9DE;
    color: #ffffff;
}

body > header h1 {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 1em;
    color: #5695B3;
}

body > header figure {
    display: block;
    border-radius: 50%;
    margin-bottom: 1em;
    height: auto;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

body > header figure:hover {
    transform: scale(0.8);
}

body > header figure img {
    width: 100px;
}

body > header p {
    padding: 1em 0;
    text-align: center;
    width: 100%;
    background-color: #5695B3;
    color: #ffffff;
}

body > header nav {
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5em 0;
    overflow-y: scroll;
    background-color: #61A6C7;
}

body > header nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex: 1;
}

body > header nav ul li {
    list-style: none;
}

body > header nav ul li a {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding: 0 1.5em;
    color: #ffffff;
    overflow: hidden;
    z-index: 2;
     -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

body > header nav ul li a::before {
    content: "";
    display: block;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: -100%;
    background-color: #43738A;
/*    z-index: -1;*/
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

body > header nav ul li a:hover {
    color: #43738A;
}

body > header nav ul li a:hover::before {
    left: 0;
}

body > header nav ul li a svg {
    height: 1em;
    width: auto;
    margin-right: 1em;
    fill: #ffffff;
}

main {
    order: 2;
    flex: 5 1 400px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    padding: 1.5em 0 0 1.5em;
}

article {
    flex: 10 0.5 350px;;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: auto;
    padding: 1.5em;
    margin: 0 1.5em 1.5em 0;
}

article header {
    flex: 1 1 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid #f5f5f5;
}

article header h1 span {
    font-size: 50%;
    color: #111111;
}

article header h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
}

article figure {
    flex: 1;
    position: relative;
    display: block;
    margin: 0 1em 1em 0;
    overflow: hidden;
    max-width: 400px;
}

article figure img {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

article figure:hover img {
    transform: scale(1.2);
}

article figure figcaption {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    background-color: rgba(97, 166, 199, 0.5);
    color: #ffffff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

article figure:hover figcaption {
    opacity: 1;
}

article figure figcaption svg {
    display: block;
    height: 1em;
    margin-right: 5px;
    fill: #ffffff;
}

footer {
    flex: 1 1 100%;
    order: 4;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1.5em;
    background-color: #111111;
    color: #ffffff;
}

footer nav {
    order: 1;
    flex: 1;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #5695B3;
}

footer address {
    order: 3;
    flex: 1;
}

footer > ul {
    order: 2;
    flex: 1
}